<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
Title
		{% endblock %}
	</title>
	{% include 'student/index.html' %}
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">College</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Register<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'register' %}">Student</a></li>
          <li><a href="#">Faculty</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Show Data<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Faculty data</a></li>
          <li><a href="{% url 'show' %}">Student Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
 {% block body %}
 {% endblock %}
</body>
</html>