{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
</head>
<body>
<form action="{% url 'signup'%}" method="POST">
	{% csrf_token %}
	<div class="card">
		<div class="card-header bg-primary">Header</div>
		<div class="card-body bg-secondary">Content</div>
		<div class="card-footer bg-success">Footer</div>
	</div>
	name:<input type="text" name="uname"><br><br>
	mobile:<input type="text" name="mbno"><br><br>
	Email:<input type="email" name="email"><br><br>
	<div class="btn btn-danger">
	<button>signup</button>
	</div>
</form>
</body>
</html>